@use 'variables';

.header {
    background-color: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;

    &__container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1390px;
    }

    &__logo {
        display: flex;
        margin-top: 8px;

        img {
            width:80px;
        }
    }

    &__mainmenu {
        display: flex;
        align-items: center;
        

        &__link {
            margin-right: 10px;
            font-weight: bold;

            a {
                color: variables.$corDoBotao;
                text-decoration: none;
            }
        }
    }
}