@use 'variables';

.header {
    background-color: variables.$corDoTexto;
    position: fixed;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid variables.$corDaBorda;

    @media (max-width: 678px) {
        position: relative;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1390px;

        @media (max-width: 678px) {
            max-width: 475px;
            margin: 0 auto;
            justify-content: center;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            max-width: 690px;
        }
    }

    &__logo {
        display: flex;
        margin-top: 8px;

        @media (max-width: 678px) {
            display: none;
        }

        img {
            width:80px;
        }
    }

    &__mainmenu {
        display: flex;
        align-items: center;

        @media (max-width: 678px) {
            text-align: center;
        }

        &__link {
            margin-right: 30px;
            font-weight: bold;

            @media (max-width: 678px) {
                margin-right: 1px;
                text-align: center;
            }

            a {
                color: variables.$corDoBotao;
                text-decoration: none;
                position: relative;
                letter-spacing: 0.5px;
                font-size: 16px;
                padding: 0 10px;

                @media (max-width: 678px) {
                    font-size: 15px;
                }
            }

            a:after {
                content: "";
                position: absolute;
                background-color: variables.$corDoBotao2;
                height: 3px;
                width: 0%;
                left: 0;
                bottom: -10px;
                transition: 0.3s;
            }

            a:hover {
                color: variables.$corDoBotao2;
            }

            a:hover:after {
                width: 100%;
            }
        }
    }
}