@use 'variables';

.shows {
    padding-top: -40px;
    flex-direction: column;
    align-items: center;

    &__tittle-section {
        margin-bottom: 55px;
        text-align: center;
        font-size: large;
        color: variables.$corDoTextoAzul;
    }

    &__tabmenu {
        display: flex;
        position: relative;
        margin-bottom: 40px;
        justify-content: center;

        &__list {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;
            color: variables.$corDoBotao;

            &--is-active {
                border-color: variables.$corDoBotao;
            }
        }
    }

    &__aba {
        display: none;
        grid-template-columns: repeat(4, minmax(324px, 1fr));
        gap: 20px;
        justify-content: center; 
        margin: 0 auto;
        max-width: 1260px; 

        &__item {
            border:  1px solid #000;
            margin-left: 100px;
            margin-bottom: 50px;

            h3 {
                font-size: 15px;
                text-align: justify;
                padding-bottom: 12px;
                padding-top: 15px;
                color: variables.$corDoTextoAzul;
            }

            p {
                font-size: 13px;
                text-align: justify;
            }
        }

        &--is-active {
            display: grid;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        img {
            max-height: 100%;
            max-width: 100%;
            width: 150px;
        }

        button {
            height: 40px;
            width: 222px;
            font-size: 15px;
            font-weight: 700;
            color: variables.$corDoTexto;
            background-color: variables.$corDoBotao;
            text-transform: uppercase;
            margin-top: 20px;
            border-radius: 3px;
            cursor: pointer;
            border: 1px solid variables.$corDoBotao;
            transition: .2s ease-out;
            justify-content: center;
        }
    }
}