$corDoBotao: #145DA0;
$corDoTexto: #fff;
$corCinza: #eee;
$corDoPreta: #000;
$corDoTextoAzul: #3498db;
$corDoTextoCinza: #636e72;
$corDaBorda: #dddddd;
$corDoRating: #eccc68;
$corTextShadow: #0004;
$corDoTopico: #f1683a;
$corArrows: #eee4;
$corDoItem: #f1f2f6;