@use 'variaveis';
@use 'shows';

@font-face {
    font-family: 'Bungee';
    src: url('https://fonts.googleapis.com/css2?family=Bungee&family=Dela+Gothic+One&family=Poppins:wght@300&family=Roboto+Condensed&family=Roboto+Mono:wght@300;400&family=Roboto:wght@300;700&family=Rubik&family=Ubuntu:wght@300&display=swap');
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee', sans-serif;
    list-style: none;
}